#avatar-main {
  width: 40vh; }
  #avatar-main img {
    width: 100%; }

#header-right {
  position: relative;
  background-color: #19297A;
  background-image: url("../assets/sandy-mountain-background-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 25%; }
  #header-right p {
    text-align: center;
    color: rgba(255, 255, 255, 0);
    margin: 0; }
  @media (max-width: 923px) {
    #header-right {
      background-size: 800%;
      background-position: 25% 40%; } }

.pull-right {
  align-self: flex-end; }

.name {
  width: 100%;
  font-size: calc(2vh * 5.5);
  margin: 0;
  line-height: 1em;
  padding: 0 13vw;
  color: white;
  text-shadow: 0 0 10px black, 0 0 30px black; }
  .name .hidden-text {
    background-image: url("../assets/hidden-text-header.png");
    background-repeat: no-repeat;
    background-size: 50em;
    opacity: .3; }

header {
  min-height: 40vh;
  box-shadow: 0 0 50px rgba(120, 120, 120, 0.7), 0 0 10px rgba(120, 120, 120, 0.7);
  position: relative;
  z-index: 100; }

#menu-bar {
  background-color: #313747;
  width: 100%;
  font-size: 1.7em;
  height: 59.44px; }

.fix-menu {
  position: fixed;
  left: 0;
  top: 0; }

#project-pic-sidebar {
  width: 200px;
  background-color: #202750;
  position: relative; }
  #project-pic-sidebar #project-header {
    background-color: #313747;
    color: white;
    position: absolute;
    top: -59.44px;
    z-index: 50;
    width: calc(100% - (2* $padding-width));
    margin: 0;
    padding: 1em; }

.sidebar-collapsed {
  width: 200px; }
