<div class="construction">
	<div>
		<h2>UNDER CONSTRUCTION</h2>
		<p><strong>I apologize for the absolutely messy state this particular page is in.</strong></p>
		<p>
			My portfolio site is currently being written. If you are trying to get to the ng2-parallax plugin page, please click <a href="" [routerLink]="['/Ng2Parallax', 'ParallaxHome']">here</a>. If you hadn't been looking for it before, I'd highly suggest you check it out.  While this is written, I'd suggest you look at my <a href="//github.com/cwadrupldijjit">GitHub</a> or <a href="//linkedin.com/in/cwadrupldijjit">LinkedIn</a> profiles.
		</p>
		<p>Beginning below is the currently-written portion of the page. Enjoy that all you can!</p>
	</div>
</div>

<div id="portfolio-intro">
	<h3>Hello!</h3>
	<p>
		You've reached my portfolio website.  There are a few fun tricks that you can observe as you tinker around this website.  Some particular points of interest are:
	</p>
	<ul>
		<li>My bio</li>
		<li>The projects sidebar (which include my better projects)</li>
		<li>The projects section (which include most of my development and 3d art projects)</li>
		<li>More than a word on Star Wars and other geeky subjects</li>
	</ul>
</div>