<section class="page-header">
	<h1 class="project-name">ng2-parallax</h1>
	<h2 class="project-tagline">A parallax plugin/directive for Angular 2</h2>
	<a href="//github.com/cwadrupldijjit/ng2-parallax" class="btn">View on GitHub</a>
	<a href="//github.com/cwadrupldijjit/ng2-parallax/zipball/master" class="btn">Download .zip</a>
	<a href="//github.com/cwadrupldijjit/ng2-parallax/tarball/master" class="btn">Download .tar.gz</a>
</section>

<section class="main-content">
	<nav>
		<a href="JavaScript:void(0)" [routerLink]="['./Ng2Home']">
			<span>Welcome</span>
		</a>
		<span class="spacer"></span>
		<a href="JavaScript:void(0)" [routerLink]="['./TsExamples']">
			<span>TypeScript Example</span>
		</a>
		<span class="spacer"></span>
		<a class="disabled-option">
			<span>JavaScript Example <span class="coming">(coming soon)</span></span>
		</a>
		<span class="spacer"></span>
		<a class="disabled-option">
			<span>Dart Example <span class="coming">(coming soon)</span></span>
		</a>
	</nav>
	
	<router-outlet></router-outlet>
	
	<footer class="site-footer">
		<span class="site-footer-owner"><a href="https://github.com/cwadrupldijjit/ng2-parallax">ng2-parallax</a> is maintained by <a href="https://github.com/cwadrupldijjit">cwadrupldijjit</a>.</span>
		
		<span class="site-footer-credits">This page's styles are based off of the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
	</footer>
</section>


