.note {
	font-style: italic;
	
	font-size: .9rem;
	color: #aaa;
}

h2 {
	font-weight: bolder;
}

ol > li {
	margin-bottom: .6rem;
}

nav {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	text-align: center;
	
	transition: all linear .5s;
	overflow: hidden;
}

nav.nav-closed {
	height: 0;
}

nav.nav-open {
	height: 200px;
	
	margin-bottom: 2rem;
}

nav > * {
	padding: 8px 15px;
}

.spacer {
	display:  none;
}

.disabled-option {
	color: #aaa;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.disabled-option:hover {
	text-decoration: none;
	cursor: default;
}

.coming {
	font-size: .7rem;
    color: #aaa;
}

.project-tagline {
	margin-bottom: 0;
}

.small-screen-only {
	display: inline-block;
}

.large-screen-only {
	display: none;
}

.caret-up, .caret-down {
	transition: all linear .25s;
}

.caret-up {
	transform: rotate(180deg);
}

.caret-down {
	transform: rotate(0deg);
}

h2.main-title-small {
	margin-top: .5rem;
}

.menu-button {
	margin-top: .5rem;
	border: none;
	background: transparent;
}

@media screen and (min-width: 850px) {
	nav {
		flex-direction: row;
	}
	
	nav.nav-closed {
		height: auto;
	}
	
	.spacer {
		flex: 1;
	}
	
	.project-tagline {
		margin-bottom: 2rem;
	}
	
	.large-screen-only {
		display: inline-block;
	}
	
	.small-screen-only {
		display: none;
	}
}

@media screen and (min-width: 64em) {
	.main-content {
		max-width: 64rem;
		padding: 1rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.main-content {
		padding: 1rem 4rem;
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 42em) {
	.main-content {
		padding: 1rem 1rem;
		font-size: 1rem;
	}
}