<header layout="row">
	<div id="avatar-main" layout="column">			
		<img src="app/assets/Avatar1.jpg" alt="Me">
	</div>
	<div flex id="header-right">
		<h1 class="name" layout="row">
			Samuel 
			
			<span flex class="hidden-text">
				
			</span>
				
			<span>Skeen</span>
		</h1>
	</div>
</header>

<div id="menu-bar" ng-class="{'fix-menu': mc.menuFixed}">
	<a [routerLink]="['Ng2Parallax', 'ParallaxHome']">ng2-parallax</a>
</div>

<article layout="row">
	<router-outlet></router-outlet>
	
	<aside id="project-pic-sidebar" 
		ng-class="{
			'sidebar-collapsed': (!mc.projOpen && !!vm.isMobile.any()), 
			'sidebar-wide': (mc.projOpen && !!vm.isMobile.any())
		}"
	>
		<h3 id="project-header">Projects</h3>
	</aside>
</article>