<header>
	<div id="avatar-main">			
		<img src="https://en.gravatar.com/userimage/93281606/58806121c969bdd3603e061cb7a8da75.jpg?size=800" alt="Me">
	</div>
	<div id="header-right">
		<h1 class="name">
			Samuel 
			
			<span class="hidden-text">
				
			</span>
				
			<span>Skeen</span>
		</h1>
	</div>
</header>

<nav id="menu-bar" [ngClass]="{'fix-menu': menuFixed}">
	<a [routerLink]="['HomeMain']">Home</a>
	<a [routerLink]="['Ng2Parallax', 'ParallaxHome']">ng2-parallax</a>
	
	<aside id="project-pic-sidebar" 
		[ngClass]="{
			'sidebar-collapsed': (!projOpen && !isMobile), 
			'sidebar-wide': (projOpen && !isMobile)
		}"
	>
		<h3 id="project-header">Projects</h3>
	</aside>
</nav>

<article>
	<router-outlet></router-outlet>
</article>